name: GitHub-Profile-3D-Contrib

on:
  schedule: # 03:00 JST == 18:00 UTC
    - cron: "0 18 * * *" 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-3d-contrib 
    steps:
      - uses: actions/checkout@v4
      - uses: yosh1389111/github-profile-3d-contrib@0.7.1 
        env:  
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
          USERNAME: jiyoon0000
      - name: Commit & Push 
        run:
          git config user.name jiyoon0000
          git config user.email rlawldbs9128@gmail.com
          git add -A .
          git commit -m "generated"
          git push
